<launch>
  <node pkg="tf" name="target1_publisher" type="static_transform_publisher" args="0 0 0.15 0.696 0.285 0.244 0.613 /gbeam_node_1/gbeam_node target1 100"/>
  <node pkg="tf" name="target2_publisher" type="static_transform_publisher" args="0 0 0.15 0.696 0.285 0.244 0.613 /gbeam_node_2/gbeam_node target2 100"/>
</launch>
