<?xml version='1.0'?>
<sdf version="1.4" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:property name="pi" value="3.14159265"/>

  <!-- GBeam links -->
  <xacro:macro name="gbeam_link" params="suffix pose">
    <link name="gbeam_link${suffix}">
      <gravity>1</gravity>
      <self_collide>1</self_collide>

      <pose>${pose}</pose>

      <inertial>
        <mass>0.3</mass>
        <inertia>
          <ixx>0.001</ixx><ixy>0</ixy>    <ixz>0</ixz>
          <iyy>0.002</iyy><iyz>0</iyz>
          <izz>0.001</izz>
        </inertia>
      </inertial>

        <collision name='gbeam_link_collision'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <box>
              <size>0.035 ${0.24+0.004} 0.035</size>
            </box>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>0.7</mu>
                <!--<mu2>0.7</mu2>-->
              </ode>
            </friction>
            <bounce>
              <restitution_coefficient>0.0</restitution_coefficient>
            </bounce>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.05</soft_erp>
                <kp>50000</kp>
                <kd>8</kd>
              </ode>
            </contact>
          </surface>
        </collision>
        <collision name='gbeam_link_collision_gbeam_link_1'>
          <pose>0 ${0.115-0.00635/2.0} 0 1.5707 -0 0</pose>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>1.7</mu>
                <!--<mu2>0.7</mu2>-->
                <slip1>1.0</slip1>
                <slip2>1.0</slip2>
              </ode>
            </friction>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.05</soft_erp>
              </ode>
            </contact>
          </surface>
        </collision>
        <collision name='gbeam_link_collision_gbeam_link_2'>
          <pose>0 ${-0.115+0.00635/2.0} 0 1.5707 -0 0</pose>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
          <surface>
            <friction>
              <ode>
                <mu>1.7</mu>
                <slip1>1.0</slip1>
                <slip2>1.0</slip2>
                <!--<mu2>0.7</mu2>-->
              </ode>
            </friction>
            <bounce>
              <restitution_coefficient>0.0</restitution_coefficient>
            </bounce>
            <contact>
              <ode>
                <soft_cfm>0.01</soft_cfm>
                <soft_erp>0.02</soft_erp>
                <kp>50000</kp>
                <kd>8</kd>
              </ode>
            </contact>
          </surface>
        </collision>

        <visual name='gbeam_link_visual'>
          <pose>0 0 0 0 -0 0</pose>
          <geometry>
            <box>
              <size>0.035 ${0.24+0.004} 0.035</size>
            </box>
          </geometry>
        </visual>

        <visual name='gbeam_link_visual_gbeam_1'>
          <material>
            <ambient>0.6 0.6 0.6 1</ambient>
            <diffuse>0.5 0.5 0.5 1</diffuse>
            <specular>1.0 1.0 1.0 1</specular>
            <emissive>0 0 0 0</emissive>
          </material>
          <pose>0 ${0.115-0.00635/2.0} 0 1.5707 -0 0</pose>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
        </visual>

        <visual name='gbeam_link_visual_gbeam_2'>
          <pose>0 ${-0.115+0.00635/2.0} 0 1.5707 -0 0</pose>
          <material>
            <ambient>0.6 0.6 0.6 1</ambient>
            <diffuse>0.5 0.5 0.5 1</diffuse>
            <specular>1.0 1.0 1.0 1</specular>
            <emissive>0 0 0 0</emissive>
          </material>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
          <geometry>
            <cylinder>
              <length>0.00635</length>
              <radius>0.028</radius>
            </cylinder>
          </geometry>
        </visual>
    </link>
  </xacro:macro>

  <xacro:macro name="gbeam_node" params="suffix pose">
    <link name="gbeam_node${suffix}">
      <gravity>1</gravity>
      <self_collide>1</self_collide>

      <pose>${pose}</pose>

      <inertial>
        <mass>0.2</mass>
        <inertia>
          <ixx>0.001</ixx><ixy>0</ixy>    <ixz>0</ixz>
          <iyy>0.001</iyy><iyz>0</iyz>
          <izz>0.001</izz>
        </inertia>
      </inertial>

      <collision name='collision'>
        <geometry>
          <!--<mesh><uri>file://$(find gbeam_model)/meshes/gbeam_node_5k.stl</uri></mesh>-->
          <box><size>0.056 0.056 0.056</size></box>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>0.5</mu>
              <!--<mu2>0.5</mu2>-->
            </ode>
          </friction>
          <bounce>
            <restitution_coefficient>0.0</restitution_coefficient>
          </bounce>
          <contact>
            <ode>
              <soft_cfm>0.01</soft_cfm>
              <soft_erp>0.02</soft_erp>
              <kp>50000</kp>
              <kd>8</kd>
            </ode>
          </contact>
        </surface>
      </collision>

      <visual name='visual'>
        <material>
          <ambient>0.3 0.3 0.3 1</ambient>
          <diffuse>0.5 0.5 0.5 1</diffuse>
          <specular>1.0 1.0 1.0 1</specular>
          <emissive>0 0 0 0</emissive>
        </material>
        <geometry>
          <box><size>0.056 0.056 0.056</size></box>
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <!-- GBeam mates -->
  <xacro:macro name="gbeam_mate" params="linear_attach angular_attach linear_detach angular_detach">
    <mate_model type="gbeam">
      <!-- planar shear-supporting magnetic mate
           mating surface is along positive z-axis
             -->
        <symmetry>
          <rot>1 1 4</rot>
        </symmetry>

        <attach_threshold>
          <linear>${linear_attach}</linear>
          <angular>${angular_attach}</angular>
        </attach_threshold>

        <detach_threshold>
          <linear>${linear_detach}</linear>
          <angular>${angular_detach}</angular>
        </detach_threshold>

        <joint type="prismatic" name="gbeam">
          <pose>0 0.025 0 0 ${pi/2} 0</pose>
          <parent>gbeam_link</parent>
          <child>gbeam_node</child>
          <axis>
            <xyz>0 1 0</xyz>
            <limit>
              <lower>-0.001</lower>
              <upper>0.001</upper>
            </limit>
          </axis>
          <physics>
            <ode>
              <cfm_damping>true</cfm_damping>
              <cfm>0.01</cfm>
              <erp>0.05</erp>
              <limit>
                <cfm>0.05</cfm>
                <erp>0.05</erp>
              </limit>
            </ode>
          </physics>
        </joint>
    </mate_model>
  </xacro:macro>

  <!-- GBeam atoms -->
  <xacro:macro name="gbeam_link_atom" params="">
    <atom_model type="gbeam_link">
      <mate_point type="gbeam" gender="male">
        <pose>0 0.126 0 ${pi/2} ${pi/4} ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 -0.126 0 ${pi/2} ${pi/4} 0</pose>
      </mate_point>
    </atom_model>
  </xacro:macro>

  <xacro:macro name="gbeam_node_atom" params="">
    <atom_model type="gbeam_node">
      <mate_point type="gbeam" gender="female">
        <pose>0 0.025 0 ${pi/2} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 -0.025 0 ${pi/2} 0 ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 0.025 ${pi} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 -0.025 0 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0.025 0 0 0 -${pi/2.0} 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>-0.025 0 0 0 ${pi/2.0} 0</pose>
      </mate_point>
    </atom_model>
  </xacro:macro>

  <xacro:macro name="gbeam_hog_atom" params="">
    <atom_model type="hog">
      <mate_point type="gbeam" gender="female">
        <pose>0 0.025 0 ${pi/2} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 -0.025 0 ${pi/2} 0 ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 0.025 ${pi} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0 0 -0.025 0 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>0.025 0 0 0 -${pi/2.0} 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="female">
        <pose>-0.025 0 0 0 ${pi/2.0} 0</pose>
      </mate_point>

      <mate_point type="gbeam" gender="male">
        <pose>0 -0.025 0 ${pi/2} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 0.025 0 ${pi/2} 0 ${pi}</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 0 -0.025 ${pi} 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0 0 0.025 0 0 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>-0.025 0 0 0 -${pi/2.0} 0</pose>
      </mate_point>
      <mate_point type="gbeam" gender="male">
        <pose>0.025 0 0 0 ${pi/2.0} 0</pose>
      </mate_point>
    </atom_model>
  </xacro:macro>
</sdf>
